body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #111827;
    color: #ffff;
    font-family: "Roboto", sans-serif;
}


.header {
    height: 450px;
    background: #5B21B6;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
}

#input-field {
    height: 100px;
    width: 150px;
    border: 1px solid #ffff;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#input-el {
    font-size: 80px;
}

button {
    background: #ffff;
    color: #5B21B6;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: bold;
    width: 150px;
}

#unit-el {
    width: 50%;
    height: 120px;
    margin: 20px;
    background: #273549;
    border-radius: 5px;
}

.unit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

